WebServices/packages/
WebServices/WebServiceClient/bin/
WebServices/WebServiceClient/obj/
IHelloRemotingService/HelloRemotingService/bin/
IHelloRemotingService/HelloRemotingService/obj/
IHelloRemotingService/HelloRemotingServiceClient/bin/
IHelloRemotingService/HelloRemotingServiceClient/obj/
IHelloRemotingService/IHelloRemotingService/obj/
IHelloRemotingService/IHelloRemotingService/bin/
IHelloRemotingService/RemotingServiceHost/obj/
IHelloRemotingService/RemotingServiceHost/bin/
3_WCF_Service/HelloWebClient/packages/
4_Multiple_Service_Contract/CompanyClient/packages/
